---
layout: default
pagination: 
  enabled: false
---
<div class="home">

<div class="site-header-container {% if site.cover %}has-cover{% endif %}" {% if site.cover %}style="background-image: url({{ site.cover | prepend: site.baseurl }});"{% endif %}>
  <div class="scrim {% if site.cover %}has-cover{% endif %}">
    <header class="site-header">
      <h1 class="title">{{ site.title }}</h1>
      {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
    </header>
  </div>
</div>

<!--div class="wrapper">
    {% include description.html %}
     </ul>
</div-->


<content class=page-content>
    <div class=wrapper>
        The <b>Robust Intelligence & Robotics (RIRO) Laboratory</b> is part of the School of Computing at Korea Advanced Institute of Science and Technology (KAIST). Our vision is to empower robots to be trusted collaborators in every part of our society by introducing novel learning, reasoning, and execution capabilities. 
    </div>
    <div class=wrapper>
        <b>Selected experiment videos!</b><br>
        <iframe width="32%" src="https://www.youtube.com/embed/ZMAGEQx5Uy8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp;
        <iframe width="32%" src="https://www.youtube.com/embed/HgaqH4PWcTI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp;
        <iframe width="32%" src="https://www.youtube.com/embed/BfCeYsTvaOw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>    

    <div class=wrapper>
      <h4>News</h4><br>
      <ul>
        <li></li>
      </ul>
  </div>    
</content>

</div>
