---
layout: default
pagination: 
  enabled: false
---
<div class="home">

<!--
  Slider view
-->

<div class="cbs_slider">
  <input type="radio" name="slide" id="slide1" checked>
  <input type="radio" name="slide" id="slide2">
  <input type="radio" name="slide" id="slide3">

  <script type="text/javascript">
    jQuery(function($) {
      const tot = $("[name=slide]").length;
      const time_interval = 5000;
      var isFirstImageEnded = false;

      function autoplay() {
        curr = -1;

        for(i=0;i<tot;i++){
          if($("[name=slide]")[i].checked){
            curr = i;
            break;
          }
        }

        curr = ++curr % tot;
        $("[name=slide]")[curr].checked = true;
      }

      function check_first_image_change() {
        for(i=0;i<tot;i++){
          if($("[name=slide]")[i].checked){
            // changed 
            if(i != 0){
              isFirstImageEnded = true;
              $(".first-load").removeClass('first-load');

              break;
            }
          }
        }
      }
  
      checker = setInterval(check_first_image_change, 30);
      setInterval(autoplay, time_interval);

      if(isFirstImageEnded){
        clearInterval(checker);
      }
    });
  </script>
  
  <ul id="imgholder" class="imgs">
    <li class="first-load">
      <div class="site-header-container has-cover">
        <div class="scrim has-cover">
          <header class="site-header">
            <h1 class="title">{{ site.title }}</h1>
            {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
          </header>
        </div>
      </div>
    </li>

    <li>
      <div class="site-header-container has-cover">
        <div class="scrim has-cover">
          <header class="site-header">
            <h1 class="title">{{ site.title }}</h1>
            {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
          </header>
        </div>
      </div>
    </li>

    <li>
      <div class="site-header-container has-cover">
        <div class="scrim has-cover">
          <header class="site-header">
            <h1 class="title">{{ site.title }}</h1>
            {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
          </header>
        </div>
      </div>
    </li>

  </ul>

  <div class="bullets">
    <label for="slide1">&nbsp;</label>
    <label for="slide2">&nbsp;</label>
    <label for="slide3">&nbsp;</label>
  </div>

  <div class="site-header-container {% if site.cover %}has-cover{% endif %}">
    <div class="scrim {% if site.cover %}has-cover{% endif %}">
      <header class="site-header">
        <h1 class="title">{{ site.title }}</h1>
        {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
      </header>
    </div>
  </div>
</div>


<!--div class="wrapper">
    {% include description.html %}
     </ul>
</div-->


<content class=page-content>
    <div class=wrapper>
        The <a href="https://www.youtube.com/watch?v=U--BgrBPQfI" target="_blank"><b>Robust Intelligence & Robotics (RIRO) Laboratory</b></a> is part of the School of Computing at Korea Advanced Institute of Science and Technology (KAIST). Our vision is to empower robots to be trusted collaborators in every part of our society by introducing novel learning, reasoning, and execution capabilities. 
    </div>
    <div class=wrapper>
        <b>Selected experiment videos!</b><br>
        <iframe width="32%" height="200" src="https://www.youtube.com/embed/ZMAGEQx5Uy8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp;  
        <iframe width="32%" height="200" src="https://www.youtube.com/embed/HgaqH4PWcTI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp;
        <iframe width="32%" height="200" src="https://www.youtube.com/embed/BfCeYsTvaOw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <iframe width="540" height="304" src="https://www.youtube.com/embed/lPpMVfBzZH0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>    

    <div class=wrapper>
      <h4>Note: We are looking for new Master/Ph.D students~! Check positions! </h4>
      <h4>Recent news</h4> 
      <ul class="news-list">
        <li>A new IITP grant on contact-rich robotic manipulation</li>
        <li>Professor Daehyung Park has been selected to receive a Google Research Scholar Award!</li>
        <li>Excellence Award for BECS ITRC Student-led Creative Autonomous Project</li>
        <li>Interviews with <a href="http://m.irobotnews.com/news/articleView.html?idxno=26219" target="_blank">irobotnews</a> and <a href="https://www.materic.or.kr/community/rising_mterview/content.asp?f_id=94" target="_blank">MERRIC</a>.</li>
        <a href="https://rirolab.kaist.ac.kr/news/" target="_blank"><b>Past news</b></a>
      </ul>
  </div>    
</content>

</div>
