---
layout: default
pagination:
  enabled: false
---

<div class="home">

<!--
  Slider view
-->

<div class="cbs_slider">
  <input type="radio" name="slide" id="slide1" checked>
  <input type="radio" name="slide" id="slide2">
  <input type="radio" name="slide" id="slide3">
  <input type="radio" name="slide" id="slide4">

  <script type="text/javascript">
    jQuery(function($) {
      const tot = $("[name=slide]").length;
      const time_interval = 5000;
      var isFirstImageEnded = false;

      function autoplay() {
        curr = -1;

        for(i=0;i<tot;i++){
          if($("[name=slide]")[i].checked){
            curr = i;
            break;
          }
        }

        curr = ++curr % tot;
        $("[name=slide]")[curr].checked = true;
      }

      function check_first_image_change() {
        for(i=0;i<tot;i++){
          if($("[name=slide]")[i].checked){
            // changed 
            if(i != 0){
              isFirstImageEnded = true;
              $(".first-load").removeClass('first-load');

              break;
            }
          }
        }
      }
  
      checker = setInterval(check_first_image_change, 30);
      setInterval(autoplay, time_interval);

      if(isFirstImageEnded){
        clearInterval(checker);
      }
    });
  </script>
  
  <ul id="imgholder" class="imgs">
    <li class="first-load">
      <div class="site-header-container has-cover">
        <div class="scrim has-cover">
          <header class="site-header">
            <h1 class="title">{{ site.title }}</h1>
            {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
          </header>
        </div>
      </div>
    </li>

    <li>
      <div class="site-header-container has-cover">
        <div class="scrim has-cover">
          <header class="site-header">
            <h1 class="title"> &nbsp; </h1>
            {% if site.subtitle %}<p class="subtitle"> &nbsp; </p>{% endif %}
          </header>
        </div>
      </div>
    </li>

    <li>
      <div class="site-header-container has-cover">
        <div class="scrim has-cover">
          <header class="site-header">
            <h1 class="title">{{ site.title }}</h1>
            {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
          </header>
        </div>
      </div>
    </li>

    <li>
      <div class="site-header-container has-cover">
        <div class="scrim has-cover">
          <header class="site-header">
            <h1 class="title">{{ site.title }}</h1>
            {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
          </header>
        </div>
      </div>
    </li>
    
  </ul>

  <div class="bullets">
    <label for="slide1">&nbsp;</label>
    <label for="slide2">&nbsp;</label>
    <label for="slide3">&nbsp;</label>
    <label for="slide4">&nbsp;</label>
   
  </div>

  <div class="site-header-container {% if site.cover %}has-cover{% endif %}">
    <div class="scrim {% if site.cover %}has-cover{% endif %}">
      <header class="site-header">
        <h1 class="title">{{ site.title }}</h1>
        {% if site.subtitle %}<p class="subtitle">{{ site.subtitle }}</p>{% endif %}
      </header>
    </div>
  </div>
</div>


<!--div class="wrapper">
    {% include description.html %}
     </ul>
</div-->


<content class=page-content>
    <div class=wrapper>
        The <a href="https://www.youtube.com/watch?v=U--BgrBPQfI" target="_blank"><b>Robust Intelligence & Robotics (RIRO) Laboratory</b></a> is part of the School of Computing at Korea Advanced Institute of Science and Technology (KAIST). Our vision is to empower robots to be trusted collaborators in every part of our society by introducing novel learning, reasoning, and execution capabilities. 
    </div>
    <div class=wrapper>
        <b>Selected experiment videos!</b><br>
        <!--<iframe width="32%" height="200" src="https://www.youtube.com/embed/ZMAGEQx5Uy8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp; --> 
      <iframe width="32%" height="300" src="https://www.youtube.com/embed/3rxoNUZeot8?si=Vv4fSnUnhK2qdxzm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp;
      <iframe width="32%" height="300" src="https://www.youtube.com/embed/SD9HV1z5owk?si=qv8YfcRZtQpltPzE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp;
      <iframe width="32%" height="300" src="https://www.youtube.com/embed/QIBt6AR9KmI?si=-qKV5Wvczll-IE5y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp; 
  </div>    

    <div class=wrapper>
        <b>Selected talk/presentation videos!</b><br>
        <!--<iframe width="32%" height="200" src="https://www.youtube.com/embed/ZMAGEQx5Uy8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp; --> 
			<iframe width="32%" height="300" src="https://www.youtube.com/embed/vhvYRXtfD_I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp;
			<iframe width="32%" height="300" src="https://www.youtube.com/embed/SDwv_-bcPFw?si=L_LEfztiTodbvJ7E" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp;
      <iframe width="32%" height="300" src="https://www.youtube.com/embed/1cxjwGZ-dDY?si=w_KWe038CrC_Kuvk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>&nbsp;
    </div>    

    
  
    <div class=wrapper>
      <h4>Recent news</h4> 
      <ul class="news-list">
        <li>Jaewhi has been accepted into the Ph.D. program at Georgia Tech!! </li>
        <li>Jaehwi, Chanyoung, Jinwoo, Ju-chul received their Master's Degrees in February 2024!! </li>
        <li>Minjae's paper has been accepted to IEEE ICRA, 2024!! </li>
        <li>Dohyun's paper has been accepted to AAAI, 2024!! </li>
        <li>Jaehwi's paper has been accepted to IEEE RA-L, 2023!! </li>
        <li>Jaehwi is selected for the Fulbright Graduate Student Program!! </li>	      	      
        <li>Prof. Park received the ICRA 2023 Outstanding Planning Paper Award!!</li>
	<li>Prof. Park organizes a workshop on "<a href="https://rss-ws-2023-lm.github.io/" target="_blank"><b>Experiment-oriented Locomotion and Manipulation Research</b></a>" at RSS, 2023</li>	      
	<li>Prof. Park organizes a special session on "<a href="http://ro-man2023.org/paperSubmission/callForSpecialSession" target="_blank"><b>Human-Agent/Robot Interaction in Healthcare and Medicine</b></a>" at Ro-MAN, 2023</li>	      
        <li>We received the Best Student Paper Award at RiTA 2022!! </li>
        <li>A paper has been accepted to IEEE RA-L (IROS), 2022</li>
        <li>Prof. Park received the Outstanding Young Researcher Award (우수신진연구자상) at ICROS, 2022</li>
        <li>We received the Outstanding Paper Award at KROC 2022!! </li>
        <li>Selected for ICRA 2022 Outstanding Navigation Award Finalist!!</li>
        <!-- <a href="https://rirolab.kaist.ac.kr/news/" target="_blank"><b>Past news</b></a> -->
      </ul>
  </div>    
</content>

</div>
