.header {
  height: 60px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: #fff;
  border-bottom: 2px solid var(--main-color);
  z-index: 1000;
}

.logo a {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

/* 햄버거 메뉴 버튼 스타일 */
.hamburgerMenu {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 24px; /* 아이콘 크기 조절 */
}

/* 모바일이 아닐 때 메뉴 스타일 */
.nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

/* 모바일 메뉴 스타일 */
.mobileMenu {
  position: fixed;
  top: 0;
  right: -100%; /* 초기 상태는 화면 밖에 위치 */
  height: 100%;
  width: 250px; /* 메뉴의 폭 */
  background-color: #fff; /* 메뉴 배경 색상 */
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-out; /* 슬라이드 효과 */
  display: flex;
  flex-direction: column;
  padding: 20px;
  z-index: 100;
}

/* 메뉴가 열릴 때 스타일 */
.mobileMenuOpen {
  right: 0; /* 메뉴를 화면 안으로 이동 */
}

/* 반응형 디자인 */
@media (min-width: 768px) {
  .hamburgerMenu {
    display: none; /* 데스크탑에서는 햄버거 메뉴 버튼 숨김 */
  }

  .mobileMenu {
    display: none; /* 데스크탑에서는 모바일 메뉴 숨김 */
  }
}
