<p>
The <b>Robust Intelligence & Robotics (RIRO) Laboratory</b> is part of the School of Computing at Korea Advanced Institute of Science and Technology (KAIST). Our vision is to empower robots to be trusted collaborators in every part of our society by introducing novel learning, reasoning, and execution capabilities. To achieve this, we strive to:</p>

<p>
    (1) develop novel behavior learning-and-reasoning models to enable robots to efficiently acquire new abilities over time, <br>
    (2) investigate a natural way to encode higher-order background knowledge for real-world applications, and <br>
    (3) validate the novelty of theoretic contributions by experimental results.<br>
</p>


<!-- Our lab pursue experimental robotics by validating the novelty of theoretic contributions. -->

