<body>
<div class="navigation" role="banner">
    <div class="navigation-wrapper">
        <!-- <nav id="navbar" class="collapse navbar-collapse"> -->
        <!-- <nav class="navbar navbar-expand-sm "> -->
        <!-- <nav role="navigation"> -->
        <a href="{{ site.baseurl }}/" class="logo">
            {% if site.logo %}
            <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
            {% else %}
            <span>{{ site.title }}</span>
            {% endif %}
        </a>
        
        <nav class="navbar" role="navigation">
            {% assign links = {site.navigation} %}
            {% for link in links %}
            {% assign class = nil %}
            {% if page.url contains link.url %}
            {% assign class = 'active' %}
            {% endif %}
            <ul class="nav navbar-nav">
                <!-- <ul id="js-navigation-menu" class="navigation-menu show"> -->
                {% if link.sublinks %}
                <li class="dropdown nav-link {{ class }}">
                    <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for sublink in link.sublinks %}
                        {% if sublink.title == 'separator' %}
                        <li role="separator" class="divider"></li>
                        {% else %}
                        <li>
                            <a href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </li>
                {% else %}
                <li class="nav-link">
                    <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                </li>
                {% endif %}
            </ul>
            {% endfor %}
        </nav>
    </div>
</div>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
