<body>
<div class="navigation" role="banner">
    <div class="navigation-wrapper">
        <!-- <nav class="navigation-menu-button" id="navbar" > -->
        <!-- <nav class="navbar navbar-expand-sm "> -->
        <!-- <nav role="navigation"> -->
        <a href="{{ site.baseurl }}/" class="logo">
            {% if site.logo %}
            <img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}">
            {% else %}
            <span>{{ site.title }}</span>
            {% endif %}
        </a>
        
        <nav class="navbar" role="navigation">
            <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
                <i class="fa fa-bars"></i>
            </a>
            <nav role="navigation">
                <ul id="js-navigation-menu" class="navigation-menu show">
		    <!--{% include nav_links.html %}-->
	            {% include nav_bar_links.html %}
                </ul>
            </nav>

            
            
        </nav>
    </div>
</div>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</body>
