// Primary site layout for Centrarium Theme

/*
*	Variables
*/
$b3: 480px;
$mobile: $b3;
$b2: 768px;
$tablet: $b2;
$b1: 960px;
$desktop: $b1;

/*
*	Globals
*/
html, body {
	margin: 0;
	padding: 0;
	width: 100%;
}

ol.default {
  @extend %default-ol;
}

ul.default {
	@extend %default-ul;
}

code {
	background-color: #eee;
	display: inline-block;
	border-radius: 3px;
	padding: 0 3px;
}

blockquote {
	color: $medium-gray;
	font-style: italic;
	border-left: 2px solid $light-gray;
	margin-left: 0;
	padding-left: 3em;
}

pre code.hljs {
	font-size: modular-scale(-1);
}

.page-divider {
	$divider-color: $light-gray;
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid $divider-color;
  .one {
    position: relative;
    top: -9px;
    display: block;
    background: $divider-color;
    width: 18px;
    height: 18px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
  .two {
    position: relative;
    top: -26px;
    display: block;
    background: $white;
    width: 16px;
    height: 16px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
  }
}

.tooltip {
	border-bottom: 1px dotted $medium-gray;
}


/*
*	Slider view
*/
.cbs_slider{
	position: relative;
	margin: 0 auto;
}

.cbs_slider input[type=radio]{
	display: none;
}

.cbs_slider ul.imgs{
    padding: 0;
    margin: 0;
}

.cbs_slider ul.imgs li{
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    animation: move 5s linear forward; 
}

@keyframes move {
  from { z-index: 1; opacity: 1; }
  to { z-index: 0; opacity: 0;}
}

.cbs_slider .bullets{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 20px;
	z-index: 2;
}

.cbs_slider .bullets label{
	display: inline-block;
	border-radius: 50%;
	background-color: rgba(0,0,0,0.55);
	width: 20px;
	height: 20px;
	cursor: pointer;
	
	margin: 2px;
}


.cbs_slider .imgs{
	width: 100%;
}

.cbs_slider .imgs>li{
	width: 100%;
	line-height: unset;
}

.cbs_slider input[type=radio]:nth-child(1):checked~.bullets>label:nth-child(1){
    background-color: #fff;
}
.cbs_slider input[type=radio]:nth-child(2):checked~.bullets>label:nth-child(2){
    background-color: #fff;
}
.cbs_slider input[type=radio]:nth-child(3):checked~.bullets>label:nth-child(3){
    background-color: #fff;
}

.cbs_slider input[type=radio]:nth-child(1):checked~ul.imgs>li:nth-child(1){
    opacity: 1;
    transition: 1s;
    z-index: 1;
}
.cbs_slider input[type=radio]:nth-child(2):checked~ul.imgs>li:nth-child(2){
    opacity: 1;
    transition: 1s;
    z-index: 1;
}
.cbs_slider input[type=radio]:nth-child(3):checked~ul.imgs>li:nth-child(3){
    opacity: 1;
    transition: 1s;
    z-index: 1;
}

.cbs_slider .imgs>li:nth-child(1)>div{
	background-image: url("/assets/header_image_opt.jpg");
}
.cbs_slider .imgs>li:nth-child(2)>div{
	background-image: url("/assets/header_image_3.jpeg");
}
.cbs_slider .imgs>li:nth-child(3)>div{
	background-image: url("/assets/header_image_2.gif");
}


.site-header-container, .post-header-container {
	width: 100%;
	text-align: center;
	&.has-cover {
		color: $white;
		text-shadow: 0 2px 1px rgba(0,0,0,0.67) !important;
		background-position: 50% 50%;
		background-size: cover;
		.title {
			font-size: modular-scale(6);
		}
		.subtitle, .info {
			font-size: modular-scale(1);
		}
	}
	.scrim {
		padding: 3em 1em;
		&.has-cover {
			background-color: rgba(0,0,0,0.2);
			padding: 6em 1em !important;
			@include media($tablet) {
				padding: 9em 1em !important;
			}
		}
	}
}

/*
*	Header
*/
.navigation {
	box-shadow: 0 2px $highlight-color;
	padding: 0 1em;
	margin: 0;
	// Remove this to make header scrollable again
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background: $white;
	z-index: 5;
	
  // Mobile view
  .navigation-menu-button {
    display: block;
    float: right;
    margin: 0;
    font-size: 1.5em;
    padding-top: 0.5em;
    @include media ($tablet) {
      display: none;
    }
  }
  // Nav menu
  .navigation-wrapper {
  	@include outer-container(60%);
    @include clearfix;
    position: relative;
  }
  .logo {
    float: left;
    height: 4em;
    @include media ($tablet) {
    	padding-left: $em-base;
    }
    img {
      max-height: 3.0em;
      margin-top: 0.375em;
      margin-bottom: 0.375em;
      padding-right: 1em;
    }
    span {
    	font-size: 1.25em;
    }
  }
  nav {
    float: none;
    padding: 0.75em 0;
    @include media ($tablet) {
      float: right;
      line-height: 1.5em;
    }    
  }
  ul.navigation-menu {
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    @include media ($tablet) {
      display: block;
      margin: 0;
      padding: 0;
    }
    &.show {
      display: block;
    }
  }

  .navbar {
      float: right !important;
      margin-right: -15px;
      margin-bottom: 0em;
      font-family: 'Helvetica Rounded', Arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.5em;
      text-shadow: 0 1px 3px rgba(0, 0, 0, .5) !important; 
      .navbar-nav {
	  li {
	      a {
		  color: #70aad0 !important;
		  &:hover {
		      color: #4680a6 !important;
		      border-bottom: 2px solid #4680a6 !important;
		  }
		  &:focus {
		      color: #4680a6 !important;
		      border-bottom: 2px solid #4680a6 !important;
		  }
	      }
	  }
	  .active {
	      a {
		  color: #4680a6 !important;
		  border-bottom: 2px solid #4680a6 !important;
	      }
	  }
	  .dropdown-menu {
	      li {
		  a {
		      color: #70aad0 !important;
		      text-shadow: none !important;
		  }
	      }
	  }
      }
 }
  
  // Nav items
  ul li.nav-link {
    display: block;
    text-align: right;
    width: 100%;
    padding: 0.0em 0;
    @include media ($tablet) {
      background: transparent;
      display: inline;
      text-decoration: none;
      width: auto;
    }
  }

}





/*
*	Body
*/
.page-content {
	// Remove this to make header scrollable again
	margin-top: 66px;
	.wrapper {
		@include outer-container(60%);
		padding: 1em;
		
		.news-list {
			margin: 0px 0px 0px 0px;
			padding-left: 20px;
		}
		
		.news-list > li {
			line-height: unset;	
		}
	}
	/*
	*	index.html
	*/
	.post-list {
		padding-top: 1em !important;
		@extend %default-ul;
	}
	.post-meta {
		@include outer-container;
		// padding: 1em 0;
		color: $medium-gray;
		.post-date {
			@include span-columns(6);
			text-align: left;
			font-size: 0.9em;
		}
		.post-categories {
			@include span-columns(6);
			margin-right: 0;
			text-align: right;
			font-size: 0.9em;
		}
	}
	.pagination {
		padding-top: 2em;
		text-align: center;
		color: $medium-gray;
		.page-number {
			padding: 0 1em;
		}
                a.newer-posts {
                    text-decoration: none;
                }
	}
	.site-header-container {
		color: $white;
		text-shadow: 0 2px 1px rgba(0,0,0,0.33);
		background-color: $highlight-color;
		.site-header{
			.title {
				font-size: modular-scale(6);
			}
			.subtitle {
				font-style: italic;
				font-size: modular-scale(1);
			}
		}
	}
	img {
		display: block;
		margin: auto;
		width: 90%;
	}
	/*
	*	Posts
	*/
	.post {
		ul {
			margin-bottom: 1em;
		}
		.post-header-container {
			.scrim {
				padding: 2em 1em 1em 1em;
			}
		}
		.post-meta {
			padding-bottom: 1em;
		}
		.post-content {
			padding: 1em 0;
		}
		.tags {
			font-size: 0.9em;
		}
		.rss {
			margin: 1em 0 0 0;
			@include span-columns(12);
			@include media ($tablet) {
				margin: 1em 0;
				@include span-columns(6);
			}
		}
		.share {
			font-weight: bold;
			margin: 0 0 1em 0;
			@include span-columns(12);
			@include media ($tablet) {
				@include span-columns(6);
				margin: 1em 0;
				text-align: right;
			}
			a {
				width: 1em;
				padding: 0 0.25em;
				text-decoration: none;
			}
		}
		.disqus {
			@include span-columns(12);
		}
		.post-navigation {
			font-size: 0.9em;
			display: block;
			width: auto;
			.prev-post {
				display: block;
				width: 50%;
				float: left;
				margin: 1em 0;
			}
			.next-post {
				display: block;
				width: 50%;
				float: left;
				margin: 1em 0;
				text-align: right;
			}
		}
	}
	/*
	*	Pages
	*/
	.page {
		.post-header {
                    font-size: 1.5em;
		    padding: 0.5em 1em 0.5em 1em;
                    font-weight: bold;                
		    text-align: center;
		}
		.posts-list {
			@extend %default-ul;
			li {
				padding: modular-scale(-4);
				padding-left: 0;
			}
			.desc {
				font-size: 0.9em;
			}
			.post-date {
				color: $medium-gray;
			}
		}
		.profile {
			max-width: 320px;
			margin: auto;
			padding-bottom: 0.5em;
 		}
	}
        table{
            th.caption{
                font-size: 1.5em;
                margin-top: 1em;
                margin-bottom: 0em;
                margin-left: 0;
                margin-right: 0;
                font-weight: bold;                
                padding: 0.2em 0em 0.2em 0em
            }
            td.description{
                padding: 0.0em 0.5em 0em 0.5em
            }
        }
        .publication{
            margin-top: 1em;
            margin-bottom: 2em;

            .pub-title{
                font-size: 1.5em;
                font-weight: bold;                
	        background-color: #70aad0;
                color: #fff;
                text-align: center;
                margin-bottom: 0.5em;
            }
            .pub-item{
                align-content: left;
                text-align: left;
                font-size: 16px;
                font-family: "Times New Roman", Times, serif;
                line-height: 1.5;
                padding: 0.2em 0em 0.2em 0em
            }
			.pub-title + ol {
				counter-reset: list;
				padding-left: 0px;
				margin: 0px 0px 0px 0px;
			}
			
			.pub-item > li {
				list-style: none;
			}

			.pub-item > li:before {
				content: "[" counter(list) "]";
				counter-increment: list;
			}
        }
}

/*
*	Footer
*/
.site-footer {
	$link-color: $white;
	padding: 1em 1em 2em 1em;
	background-color: $highlight-color;
	color: $white;
	a {
	  color: $link-color;
	  &:active,
	  &:focus,
	  &:hover {
	    color: darken($link-color, 10%);
	  }
	  &:active,
	  &:focus {
	    outline: none;
	  }
	}
	.wrapper {
		@include outer-container(60%);
	}
	.footer-heading {

	}
	/*
	*	Site Navigation (left)
	*/
	.site-navigation {
		@include span-columns(12);
		@include media ($mobile) {
			@include span-columns(6);
		}
		@include media ($tablet) {
			@include span-columns(4);
		}
		font-size: 0.9em;
		ul {
			@extend %default-ul;
		}
	}
	/*
	*	Contact Info (center)
	*/
	.site-contact {
		margin-top: 1em;
		@include span-columns(12);
		@include media ($mobile) {
			@include span-columns(6);
			margin-top: 0;
			margin-right: 0;
		}
		@include media ($tablet) {
			@include span-columns(4);
			margin-top: 0;
		}
		font-size: 0.9em;
		i {
			width: 1.25em;
			text-align: center;
		}
		ul {
			@extend %default-ul;
		}
	}
	/*
	*	Site Description/Signature (right)
	*/
	.site-signature {
		margin-top: 1em;
		@include span-columns(12);
		@include media ($tablet) {
			@include span-columns(4);
			margin-right: 0;
			margin-top: 0;
		}
		font-size: 0.9em;
		a {
			text-decoration: underline;
		}
	}
}
